@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #776161;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #880e0e;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #43646d;
    color: white;
    scrollbar-color: green;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    transition: background-color 0.8s ease-in-out;
}


.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: padding 0.8s ease-in-out;
}

.logo {
    font-size: 18px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .3s ease-in-out;
}



.nav.active {
    background-color: #384d5f;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}


.nav.active .container {
    transition: padding 0.8s ease-in-out;
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.hero {
    background-image: url('https://images.pexels.com/photos/4590386/pexels-photo-4590386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content h2,
.content h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content p {
    color: #ffffff;
    line-height: 30px;
    letter-spacing: 1px;
}

.container .prj .mpr {
    margin: 15px;
}

.container .prj .mpr a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: bolder;
    margin: 5px;
}

.container .prj .mpr p {
    font-size: 0.9em;
    margin: 5px;
}

.container .edu {
    display: flex;
}

.container .edu .cls {
    margin: 15px;
    padding: 5px;
    display: inline-block;
    width: 32vw;
    border: 2px solid white;
    border-radius: 10px;
}

.container .edu .cls:hover {
    background-color: #174c4e;
    transform: scale(0.98);
}

.projects {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(207, 204, 204, 0.7);

}

.content .projects a {
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
    color: #fff;
    margin: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px;
    width: 20vw;
    border-radius: 10px;
    background-color: #444;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.content .projects a:hover {
    color: black;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.9);
    background-color: #797777;
    transform: scale(1.01) skew(5deg);
    transition: transform 0.3s ease-in;

}

.contact {
    background-image: url('Black\ White\ Minimalist\ Modern\ Work\ Desk\ Flatlay\ Photo\ Business\ Quote\ Facebook\ Cover\ .png');
    background-position: center;
    background-size: cover;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.contact h3 {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #fff;
}

.contact .lists {
    display: flex;

}

.contact .lists li {
    padding: 10px;
    list-style: none;
}

.contact .lists li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.contact .lists li a:hover {
    color: rgb(0, 162, 255);
}

#about .vdo {
    width: 90vw;
    height: 50vh;
    margin-top: 10px;
}